{% extends 'base.html' %}

    {% block arquivos_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos/pags/pags_opts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos/pags/pags_section_main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos/pags/pag_adm/pag_adm.css') }}">
    {% endblock %}
    
    {% block conteudo %}

    <header>
        <i class="bi-exit bi-box-arrow-left"></i>
        <nav>
            <ul>
                <div class="div-opts" id="id-dados" onclick="load_section_adm('adm_lista')">
                    <li>
                        <i class="bi bi-person-vcard"></i>
                        <p class="p-mobile">Lista de Presença</p>
                        <p class="p-pc">Lista</p>
                    </li>
                </div>
                <!-- <div class="div-opts" id="id-sobre" onclick="load_section_adm('adm_busca')">
                    <li>
                        <i class="bi bi-file-text"></i>
                        <p class="p-mobile">Fazer busca</p>
                        <p class="p-pc">Buscar</p>
                    </li>
                </div> -->
                <div class="div-opts" id="id-ajuda" onclick="load_section_adm('adm_staff')">
                    <li>
                        <i class="bi-menu bi-people"></i>
                        <p class="p-mobile">Nossa Staff</p>
                        <p class="p-pc">Staff</p>
                    </li>
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <section class="section-main" id="section_adm">
                <!--  -->
        </section>
    </main>



    {% endblock %}

    {% block extra_js %}
        <script src="{{ url_for('static', filename='scriptsjs/conteudos_adm.js') }}"></script>
        <script src="{{ url_for('static', filename='scriptsjs/logout.js') }}"></script> 
    {% endblock %}
