
main{
    background-image: linear-gradient(135deg, var(--cor62) 0%, var(--cor5) 100%);
    /* background-image: linear-gradient(135deg, var(--cor62) 0%, var(--cor5) 80%, var(--cor1) 100%); */
    width: 100%; height: 100%;

    display: flex;
    flex-direction: column;
}
main .footer{ 
    width: 100%;
    color: var(--cor0);
    margin-top: 0;

    text-align: center;
    color: var(--cor0);
}
main .footer h3 {
    padding: 5px 0;
    font-weight: 400;
    font-size: 1.2em;
}
main .login-section{
    width: 60%; height: 600px;
    max-width: 350px;
    min-width: 300px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: height 0.5s, flex-direction 1s;
    transition-timing-function: ease;
}


main .login-section .img-div{
    background: url(../../midia/alianças.jpg) no-repeat top center/cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%; height: 85%;

    border: 2px solid var(--cor1);
    border-bottom: none;
}
main .login-section .form-div{
    background-color: var(--cor2);
    border: 2px solid var(--cor1);
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%; height: 100%;

    font-weight: 500;
    color: var(--cor1);
    
    display: flex;
    flex-direction: column;
}


.form-div .autoridade {
    width: 100%; height: auto;
    max-height: 40px;
    font-size: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.form-div .autoridade .convidado, 
.form-div .autoridade .organizador {
    background-color: var(--cor5);
    color: var(--cor4);
    width: 100%;
    padding: 5px 0;
    text-align: center;
}
.form-div .autoridade .convidado:hover, 
.form-div .autoridade .organizador:hover {
    background-color: var(--cor64);
    transition: background-color 0.5s ease;
}
.form-div .autoridade {
    border-bottom: 5px solid var(--cor63);
}
.form-div .autoridade .modo-select {
    background-color: var(--cor63);
    width: 110%;
    transition: background-color 0.1s ease, width 1s ease-in-out;
}
.form-div .autoridade .modo-select:hover { /* "gambiarra" para sobrescrever o :hover anterior */
    background-color: var(--cor63); 
}


@media screen and (min-width: 768px){

    main{
        background-image: linear-gradient(135deg, var(--cor62) 0%, var(--cor5) 100%);
    }
    main .login-section {
        width: 90%; height: 250px;
        max-width: 768px;
        flex-direction: row;

        transition: width 0.4s, flex-direction 1s;
        transition-timing-function: ease;
    }
    main .login-section .img-div {
        background: url(../../midia/alianças.jpg) no-repeat top center/cover;
        border: 2px solid var(--cor1);
        border-right: none;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
        width: 35%; height: 100%;
    }

    .form-div {
        overflow: hidden;
    }
}