
{% block arquivos_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/pags/pag_user/pag_user_sobre.css') }}">
{% endblock %}


<section class="section-sobre">
    <div class="div-textsobre">

        <div class="div-textnoiva">
            <p class="p-text">"Nos conhecemos há dois anos e, há um ano, decidimos noivar. Daqui a dois meses, realizaremos nosso casamento. Gostaríamos de convidar todos que são importantes para nós a participar deste momento."</p>
            <p class="p-noiva">Palavras da Noiva, Maria Rosa</p>
        </div>


        <h1 class="h1-noivos">José e Maria</h1>
        <h3 class="h3-convidam">Convidam você para a cerimônia</h3>
        <h3 class="h3-data">01/01/2025</h3>


        <div class="div-textlocal">
            <p part="p-nomelocal">Cerimônia e recepção:</p>
            <p>Restaurante Mi Casa Tu Casa</p>
            <p class="p-vejalocal">Veja a localização em "Local"</p>
        </div>

    </div>
</section>